/* Variables de color Luxus */
:root {
    --luxus-beige: #FFEBC3;
    --luxus-orange-dark: #CC3A00;
    --luxus-green-dark: #194D33;
    --luxus-orange-light: #FF851B;
    --luxus-red-dark: #800C00;
  
    --font-title: 'Cormorant Upright', serif;
    --font-text: 'Cormorant', serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-text);
    background-color: var(--luxus-beige);
    color: var(--luxus-green-dark);
    margin: 0;
    padding: 0;
  }

  .signature, .womens-collection, .mens-collection {
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 100%;
    padding: 0 1rem;
}
  
  .hero-text h1,
  .signature h2,
  .womens-collection h2,
  .mens-collection h2,
  .footer-section h4 {
    font-family: var(--font-title);
    letter-spacing: 1px;
  }
  

  h1, h2, h3, h4 {
    text-transform: uppercase;
  }
  
  img {
    max-width: 100%;
    height: auto;

}

/* Asegurarse de que las imágenes en la colección no desborden */
.signature-item img,
.womens-collection img,
.mens-collection img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
  /* Header */
.header {
    background-color: var(--luxus-red-dark);
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    height: 70px;
    cursor: pointer;
}

/* Links del header */

.header-links {
    display: flex;
    gap: 1.5rem;
    margin: 0 auto;
}

.header-links a {
    color: var(--luxus-beige);
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
     transition: color 0.3s ease, transform 0.3s ease;
    text-transform: uppercase;
}

.header-links a:hover {
    color: var(--luxus-orange-light);
    transform: scale(1.1);
}
  
  /* Hero Section */
  .hero-main {
    background: url('../assets/hero-main.png') no-repeat center center/cover;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
  }
  
  .hero-text h1 {
    font-family: var(--font-main);
    font-size: 8rem;
    color: var(--luxus-beige);
  }
  
  .hero-text p {
    font-size: 4rem;
    margin-top: 1rem;
    color: var(--luxus-red-dark);
  }
  
  /* Signature Section */
  .signature {
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .signature-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 4rem 0;
}

.signature-item {
    flex: 1 1 100%; /* En pantallas pequeñas, cada imagen ocupa el 100% del ancho */
}
.signature-item {
    flex: 1 1 calc(25% - 20px);
    max-width: 100%; 
    box-sizing: border-box;
    text-align: center;
}

.signature-item img {
    width: 390px;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .signature-item img:hover {
    transform: scale(0.9); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
}

.signature-item p {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: var(--font-text);
    color: var(--luxus-green-dark);
    text-align: center;
  }
  
  /* Collections */

.womens-collection, .mens-collection {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 100%;
    padding: 0 1rem;
  }
  
.womens-collection img, .mens-collection img {
    width: 100%;
    max-width: 100%;
  }
  
.collection-item {
    position: relative;
    text-align: center;
    margin: 2rem 0;
  }
  
.collection-link {
    display: block;
    position: relative;
  }
  
.collection-link img {
    width: 100%;
    height: auto;
    display: block;
  }
  
.collection-link h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-title);
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
  }
  
  
  /* Footer */
.footer {
    background-color: var(--luxus-red-dark);
    color: white;
    font-family: var(--font-text);
    font-size: 1rem;
    padding: 2rem 1rem;
    text-align: center;
  }
  
.footer-section {
    margin: 1rem;
  }
  
.footer-section a {
    color: var(--luxus-orange-dark);
    text-decoration: none;
  }
  
.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.5rem;
  }
    
.logo {
     height: 70px;
    cursor: pointer;
}
    
.small-social {
        width: 24px;
        height: 24px;
}
    
  /* Responsive Design */
  @media (max-width: 992px) {
    .hero-text h1 {
        font-size: 3rem;
    }
}

.header-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

@media (max-width: 768px) {
    .header-links {
        display: none;
    }

    .header-links {
        display: flex; 
        align-items: center; 
        width: 100%;
    }
    
    .menu-toggle {
        display: block;
        font-size: 2rem;
        color: var(--luxus-beige);
        background: none;
        border: none;
    }

    .header-links.active {
        display: flex;
        flex-direction: column;
        background-color: var(--luxus-red-dark);
        position: absolute;
        top: 80px;
        width: 100%;
        left: 0;
    }

    .header-links.active a {
        margin: 1rem 0;
    }
}

.menu-toggle {
    display: block;
    font-size: 2rem;
    color: var(--luxus-beige);
    background: none;
    border: none;
}

.header-links.active {
    display: flex;
    flex-direction: column;
    background-color: var(--luxus-red-dark);
    position: absolute;
    top: 80px;
    width: 100%;
    left: 0;
}

.header-links.active a {
    margin: 1rem 0;
}


@media (max-width: 576px) {
    .hero-text h1 {
        font-size: 2rem;
    }
    .signature-item {
        flex: 1 1 100%;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .header-links {
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
    }
}